# Server
CORS_ORIGIN_URL=*
PORT=8000
NODE_ENV=development

# Database
MONGO_DB_URL=REPLACE_WITH_MONGO_URL
MONGO_DB_USER=REPLACE_WITH_DB_USER
MONGO_DB_PASS=REPLACE_WITH_DB_PASSWORD
MONGO_DB_CLUSTER=REPLACE_WITH_CLUSTER
DB_NAME=REPLACE_WITH_DB_NAME

# Auth
ACCESS_TOKEN_SECRET=REPLACE_WITH_ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=REPLACE_WITH_REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY=20d

# Cloudinary
CLOUDINARY_CLOUD_NAME=REPLACE_WITH_CLOUD_NAME
CLOUDINARY_API_KEY=REPLACE_WITH_API_KEY
CLOUDINARY_API_SECRET=REPLACE_WITH_API_SECRET

# Self Hosted DB (example)

# MONGO_DB_URL=mongodb://127.0.0.1:27017

# DB_NAME=rabbitdb

# PORT=8080